<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlad.dino3d">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Game3DActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.vlad.dino3d.sample.SplashActivity" android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name="com.vlad.dino3d.sample.ExampleRotatingPlanets" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleMostMinimal" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleVertexColors" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleTextures" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleVerticesVariations" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleRenderType" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleCamera" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleMultipleLights" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleAnimatingVertices" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleSubsetOfFaces" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleAssigningTexturesDynamically" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleTextureWrap" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleMipMap" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleMultiTexture" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleTextureOffset" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleFog" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleTransparentGlSurface" android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleLoadObjFile" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleLoadObjFileMultiple"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleLoad3DSFile"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleLoadMD2File"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleInsideLayout" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleKeyframeAnimation"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleAccelerometer"></activity>
com.vlad.dino3d.
        <!-- Debugging-related activities: -->
        <activity android:name="com.vlad.dino3d.sample.ScratchActivity" android:label="@string/app_name"></activity>
        <activity android:name="com.vlad.dino3d.sample.ExampleLightProperties" android:label="@string/app_name"></activity>

        <activity
            android:name=".RenderActivity"
            android:screenOrientation="landscape">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>